@using Practise.Models
@model Member
<form asp-controller="Member" asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label"></label>
        <input type="file" asp-for="ImageFile" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PositionId" class="form-label"></label>
        <select asp-for="PositionId" >
		@foreach (var item in ViewBag.Positions)
		{
			<option value="@item.Id">@item.Name</option>
		}
		</select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>