@using Practise.Models
@model Position
<form asp-controller="Position" asp-action="Create"method="post">
<div class="mb-3">
<label asp-for="Name" class="form-control">	</label>
<input asp-for="Name" class="form-control" />
</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>
